<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group {{if todos.megbizott "has-error"}}">
            <label for="status" class="col-lg-2 control-label">Státusz</label>
            <div class="col-lg-10">
                <input class="form-control" id="status" name="status" placeholder="pl. uj, regi, lejárt, teljesített" type="text" value="{{data.status}}">
                <span class="help-block">{{todos.status}}</span>
            </div>
        </div>
        <div class="form-group {{if todos.megbizott "has-error"}}">
            <label for="megbizottn" class="col-lg-2 control-label">Megbízott</label>
            <div class="col-lg-10">
                <input class="form-control" id="megbizott" name="megbizott" placeholder="pl. egy név, hogy kinek szól a feladat." type="text" value="{{data.megbizott}}">
                <span class="help-block">{{todos.megbizott}}</span>
            </div>
        </div>
        <div class="form-group {{if todos.description "has-error"}}">
            <label for="leiras" class="col-lg-2 control-label">Leírás</label>
            <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="leiras" name="leiras">{{data.description}}</textarea>
                <span class="help-block">{{todos.description}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button {{action "submit"}} class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>        